:root{ 
  --cor-fundo: #000000;
  --cor-texto: #FFFFFF;
  --cor-botao: #FF0000;
}

body{
  background-color: var(--cor-fundo);
  color:var(--cor-texto) ;
}

.cabecalho{
  text-align: center;
}

.cabecalho img{
  margin: 0 auto;
  padding-top: 2em;
  width: 150px;
  height: 220px;
  border-radius: 25px;
}

.cabecalho__titulo{
  padding: 2em;
  text-align: center;
  color: var(--cor-texto) ;
}

.cabecalho__texto{
  text-align: center;
  color: var(--cor-texto);
  padding-top: 5;
}

.button{ 
  text-align: center;
  border: none;
  padding-top: 2em;
}

.titulo__botao{ 
  color: red;
}

.button__dias{
  padding: 1em;
  width: 8em;
  height: 2em;
  background-color: var(--cor-botao);
  color: var(--cor-texto);
  border: none;
  border-radius: 2em;
  text-align: center;
  display: block;
}
